 @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.page__main {
    /* Ảnh nền của trang đầu tiên nếu bạn muốn đổi thì đổi tại đây */
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position-y: -18rem;
}
.buttons {
    display: flex;
    column-gap: 3rem;
    padding: 2rem;
}
.buttons a {
    color: white;
}


.btn-bir:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-bir {
    background-image: linear-gradient(
        to right,
        #314755 0%,
        #26a0da 51%,
        #314755 100%
    );
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-timeline {
    background-image: linear-gradient(
        to right,
        #da22ff 0%,
        #9733ee 51%,
        #da22ff 100%
    );
}
.btn-timeline {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-timeline:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

.btn-gallery {
    background-image: linear-gradient(
        to right,
        #02aab0 0%,
        #00cdac 51%,
        #02aab0 100%
    );
}
.btn-gallery {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
}

.btn-gallery:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.cover {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: 240px;
    box-shadow: 0 0 30px #eee;
    border-radius: 50%;
    border: 5px solid rgb(255, 175, 169);
}
/**/
.glow-on-hover {
    padding: 20px 40px;  
    border: none;
    outline: none;
    color: #fff;
    background: rgb(191 43 33);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(191 43 33);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}